body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #f7f9fc;
  color: #333;
}

header {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h2 {
  color: #004aad;
  margin-bottom: 10px;
}

footer {
  background-color: #004aad;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}

a {
  color: #004aad;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
